{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block main %}
<h1>ERROR!</h1><br>
  <h3 style="text-align:center">Please pick up the 4 options<br>
    <p><a href="search">Try again</a></p></h3><br>
      <img src="static/img/grumpy.jpeg" class="img-fluid" style="width:20%;height:auto;"></p>
    <h6 style="text-align:center">Photo by <a href="https://unsplash.com/@rodlong?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Rod Long</a> on <a href="https://unsplash.com/photos/QLaihFDwRCU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </h6>
    <br>
  {% endblock %}