{% extends "layout.html" %}

{% block title %}
    Where2fly2
{% endblock %}

{% block main %}
<p style="text-align:center"><img src="static/img/logo.jpeg" alt="logo" width="150" height="150"></p><br><br>
<h1>Where2fly2</h1><br>
<h1>Find your next destination</h1><br>
  <p>Many of us have a long list of places where we would like to go for vacation. And when comes the time to choose your destination in order to book the flight tickets, it can become challenging.</p>
  <p><b>Where2travel2</b> can help. It will provide you with inputs to help you to make your choice and prepare your trip thanks to a database with 45 countries.</p>
  <p>No more arguments in the household about where you should go!<br></p>
  <p><b>Here is how Where2fly2 can help:</b></p>
  <div style="width: 48rem;margin-left:auto;margin-right:auto;">
      <ul style="list-style: none;">
        <li id="list1">Select criterias for your ideal vacation and get <a href="search">suggestions.</a></li>
        <li id="list1">You can get <a href="countries">more details</a> about a specific country.</li>
        <li id="list1">Pullover or t-shirt? Shorts or trousers? See data <a href="weather">about local weather.</a></li>
        <li id="list1">Are you going to a cheap or expensive country? <a href="cost_living">Check the local cost of living index.</a></li>
      </ul>
    </div><br>
  <p style="text-align:center"><img src="static/img/world_map.jpeg" class="img-fluid" alt="world map" width="80%"></p>

{% endblock %}
