{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<h1>Search your next destination!<h1>
  <h3><br>Select the 4 options below to describe best what your next vacation might look like then click on search.<br>
  You will get a list of suggestion(s) for your next trip.</h3><br>

    <!-- Form to get user's input (an item must be selected for each option) -->
    <form action="/search" method="post" style="width:30%;margin-left:auto;margin-right:auto;">
        <select class="form-select" aria-label="Default select example" name="region">
            <option selected value="null">Where do you want to travel from?</option>
            <option value="Africa">Africa</option>
            <option value="Asia">Asia (North)</option>
            <option value="South-east Asia">Asia (South-East)</option>
            <option value="ANZ">Australia-New Zealand</option>
            <option value="canada_pacific">Canada Pacific</option>
            <option value="canada_central">Canada Central</option>
            <option value="canada_east">Canada East</option>
            <option value="Europe">Europe</option>
            <option value="LATAM">Latin America</option>
            <option value="Middle East">Middle East</option>
            <option value="us_pacific">USA Pacific</option>
            <option value="us_mountain">USA Mountain</option>
            <option value="us_central">USA Central</option>
            <option value="us_east">USA East</option>
          </select>

          <select class="form-select" aria-label="Default select example" name="when">
            <option selected value="null">When would you like to travel?</option>
            <option value="jan">January</option>
            <option value="feb">February</option>
            <option value="mar">March</option>
            <option value="apr">April</option>
            <option value="may">May</option>
            <option value="jun">June</option>
            <option value="jul">July</option>
            <option value="aug">August</option>
            <option value="sep">September</option>
            <option value="oct">October</option>
            <option value="nov">November</option>
            <option value="dec">December</option>
          </select>

          <select class="form-select" aria-label="Default select example" name="type">
            <option selected value="null">What kind of vacation are you looking for?</option>
            <option value="city_break">City break</option>
            <option value="culture">Culture</option>
            <option value="history">History</option>
            <option value="nature">Nature</option>
            <option value="beach">Beach</option>
            <option value="mountain">Mountains</option>
            <option value="snow">Snow</option>
          </select>

          <select class="form-select" aria-label="Default select example" name="flight">
            <option selected value="null">Expected duration of the flight</option>
            <option value="< 3h">Less than 3 hours</option>
            <option value="3 to 6h">3 to 6 hours</option>
            <option value="6 to 10h">6 to 10 hours</option>
            <option value="> 10h">More than 10 hours</option>
          </select><br>
        <button class="btn btn-primary" type="submit">Search</button>
    </form><br>

{% endblock %}