{% extends "layout.html" %}

{% block title %}
    Sources
{% endblock %}

{% block main %}
<p style="text-align:center"><img src="static/img/logo.jpeg" alt="logo" width="20%" height="auto"></p><br><br>
<h1>Sources used for this website</h1><br>
    <div style="text-align:left;width:80%;margin-left:auto;margin-right:auto;"">
        <ul>
            <li><a href="https://www.infoplease.com/world/countries/languages-spoken-in-each-country-of-the-world" target="_blank">Languages spoken in different countries</a></li><br>
            <li><a href="https://www.kaggle.com/datasets/swapnilbhange/average-temperature-of-cities" target="_blank">Average Temperature of Cities database</a></li><br>
            <li><a href="https://data.world/makeovermonday/2019w44" target="_blank">Annual Sunshine hours database</a></li><br>
            <li>Introduction about the countries are from Wikipedia.</li><br>
            <li>For the top places to visit in each country: <a href="https://www.touropia.com/" target="_blank">Tourotopia</a> and <a href="https://www.thecrazytourist.com/" target="_blank">The Crazy Toursit</a></li><br>
            <li>The French book <i>"Où et Quand Partir ?"</i> was a precious source of data for weather in each country, surface sea temperature as well as the best period to travel.</li><br>
            <li>The cost of living data were provided by <a href="https://www.worlddata.info/cost-of-living.php" target="_blank">World Data</a></li><br>
            <li>Maps and pictures on each country page were downloaded at <a href="https://www.nationsonline.org/index.html" target="_blank">Nation Online</a></li><br>
            <li><a href="https://www.flaticon.com/free-icons/hot" title="hot icons" target="_blank">All icons are created by Freepik - Flaticon</a></li>
        </ul>
    </div>
{% endblock %}
